/* reset */
*{margin:0; padding:0;}
ul, ol, li{list-style:none;}

/* font */
@font-face{src:url("../font/NotoSansCJKkr-Regular.otf"); font-family: "notoSans";}

/* body */
body{font-family:notoSans;}

/* #header */
#header{position:relative; width:100%; height:50px; background:rgba(0,0,0,.6);}

#header .logo{position:absolute; top:12px; left:30px;}
#header .logo > a{}
#header .logo > a > img{display:block; height:26px;}

#header .menu{position:absolute; top:15px; right:30px;}
#header .menu .menuBt{height:20px;}

/* #container */
#container{}


/* #container .main*/
#container .main{position:relative; width:100%; height:500px; background:#020D41 url('../img/mainBg.jpg') center bottom no-repeat; background-size:cover; color:#2f2f2f; text-align:center;}
#container .main .txt{display:inline-block; position:absolute; top:100px; left:50%; transform:translateX(-50%); padding:20px; outline:4px double #fff; background:rgba(255,255,255,.8); word-break:keep-all;}
#container .main .txt > h2{font-size:24px; line-height:48px;}
#container .main .txt > p{font-size:16px; line-height:22px;}


























/* temporarily */
#temporarily a{color:coral; font-size:20px; font-weight:bold; text-decoration:none;}
#temporarily p{font-weight:bold;}