/* reset */
*{margin:0; padding:0;}
ul, ol, li{list-style:none;}

/* font */
@font-face{src:url("innerconsole.com/font/NotoSansCJKkr-Light.otf"); font-family: "notoSans";}

/* body */
body{font-family:notoSans;}











