/* pc버전
*{padding:0; margin:0;}
.header{ width: 750px; height: 150px; margin:0 auto; position:relative; text-align:center;}
.header .logo{padding:42px 0 0;}
.header .searchBt{position:absolute; top:54px; left:35px;}
.header .menuBt{position:absolute; top:56px; right:35px;}
*/

/* layout */

/* header */
.header{height: 75px; margin:0 auto; position:relative; text-align:center;}
.header .logo{padding:21px 0 0;}
.header .logo img{width:91px;}
.header .searchBt{position:absolute; top:27px; left:17.5px;}
.header .searchBt img{width:20px;}
.header .menuBt{position:absolute; top:28.5px; right:17.5px;}
.header .menuBt img{width:24px;}

/* main */

/* visual */
.visual{width:100%; position:relative;}
.visual .visualCon{width:100%; position:relative;}
.visual .visualCon>img{width:100%;}
.visual .visualCon .textArea{position:absolute; top:44vw; left:0; width:100%;}
.visual .visualCon .textArea .visualTxtTop{line-height:8.13333333333vw; font-size:4.8vw; color:#fff; text-align:center;}
.visual .visualCon .textArea .visualTit{line-height:14.4vw; font-size:11.46666666666667vw; text-align:center; color:#fff; padding:0 0 2.86666666666667vw;}
.visual .visualCon .textArea .visualTxt{line-height:4.93333333333333vw; font-size:3.73333333333333vw; color:#fff; text-align:center; width:82.66666666666667vw; padding:0 8.666666666666667vw 8.4vw; letter-spacing:-0.3vw;}
.blue{color:#80eafe;}
.yellow{color:#fef757;}
.visual .visualCon .textArea a{text-decoration:none; color:#fff; border:1px solid #fff; background:rgba(0,0,0,0.5); display:inline-block; text-align:center; width:82.4vw; height:12.8vw; line-height:12.8vw; font-size:3.733333333333333vw; position:absolute; left:8.666666666666667vw;}

/* visual - slick */
.visual .slick-dots{}

/* menuTab */
.menuTab{width:100%; overflow:hidden; height:43px; padding:5.5px 0 0; border-bottom:1px solid #959595;}
.menuTab li{width:25%; float:left;}
.menuTab li a{display:block; text-align:center; line-height:43px; height:43px; font-size:13px; color:#959595; text-decoration:none;}
.menuTab li a.active{color:#000;}

/* slickBox brand */
.brand{padding:26.5px 27px 33px; width:calc(100% - 54px); background:#f8f8f8;}
.brand .slickCon{border-radius:3px; height:301px; padding:23px 14px 0; margin:0 5px;}
.brand .slickCon .bsLogo{height:24.5px;}
.brand .slickCon .bsLogo img{height:100%;}
.brand .slickCon .tit{font-size:20px; color:#343434; padding:7.3px 0 6.8px; line-height:27px; font-weight:bold;}
.brand .slickCon .txt{font-size:13px; color:#343434; line-height:15px;}
.brand .slickCon.brandSlide1{background:url(../img/layout/brandImg1.png) right 7px bottom 15px no-repeat #fff; background-size:190px auto; border:3px solid #f47933;}
.brand .slickCon.brandSlide2{background:url(../img/layout/brandImg2.png) right 7px bottom 15px no-repeat #fff; background-size:183px auto; border:3px solid #92d601;}
.brand .slickCon.brandSlide3{background:url(../img/layout/brandImg3.png) right 7px bottom 15px no-repeat #fff; background-size:160.5px auto; border:3px solid #ef4665;}
.brand .slickCon a{text-decoration:none; color:#343434; border:1px solid #cfcfcf; display:block; width:124.5px; height:33px; line-height:33px; font-size:11px; text-align:left; padding-left:23.5px; margin-top:13px; background:url(../img/layout/plus.png) right 22.5px center no-repeat; background-size:7.5px auto;}

/* slickBox brand - slick */
.slick-list{overflow:hidden;}
.slick-slide{float:left;}

.slick-dots{width:100%; display:inline-block; text-align:center; margin-top:21px;}
.slick-dots li{display:inline; margin:5px;}
.slick-dots li button{width:10px; height:10px; border:none; border-radius:50%; background:#959595; overflow:hidden; text-indent:-9999px; }
.slick-dots li.slick-active button{background:none; border:1px solid #959595; width:10px; height:10px;}

/* test */
/*.slick-dots::after{content:''; background:url(../img/layout/pause_gray.png) center center no-repeat / 10px auto; display:inline-block; width:10px; height:10px; margin:0 5px;}*/
.slick-dots .pause button{background:url(../img/layout/pause_gray.png) center center no-repeat; background-size:auto 10px; border-radius:0;}
.visual .slick-dots .pause button{background:url(../img/layout/pause_white.png) center center no-repeat; background-size:auto 10px; border-radius:0;}


.visual .slick-dots{position:absolute; margin:0; top:136vw;}
/*.visual .slick-dots::after{content:''; background:url(../img/layout/pause_white.png) center center no-repeat / 10px auto; display:inline-block; width:10px; height:10px; margin:0 5px;}*/
.visual .slick-dots li button{background:#fff;}
.visual .slick-dots li.slick-active button{background:none; border:1px solid #fff;}

/* food */
.section{width:100%; background:#f8f8f8;}
.section .title{height:147px;}
.section .title strong{font-size:33px; color:#fff; display:block; padding:24px 0 0; line-height:57px; text-align:center;}
.section .title a{text-decoration:none; display:block; width:calc(60.8vw - 34px); height:38px; line-height:38px; font-size:13px; color:#fff; margin:0 auto; padding-left:34px;}

.section.foodCast .title{background:url(../img/layout/foodbg1.png) 0 0 no-repeat; background-size:cover;}
.section.foodCast .title a{background:url(../img/layout/plus1.png) right 22.5px center no-repeat rgba(0,0,0,0.5); background-size:7.5px auto; border:1px solid rgba(255,255,255,0.5);}
.section.foodKnowhow .title{background:url(../img/layout/foodbg2.png) 0 0 no-repeat; background-size:cover;}
.section.foodKnowhow .title a{background:url(../img/layout/plus2.png) right 22.5px center no-repeat rgba(0,0,0,0.5); background-size:7.5px auto; border:1px solid rgba(255,255,255,0.5);}
.section.cjwFriends .title{background:url(../img/layout/foodbg3.png) 0 0 no-repeat; background-size:cover;}
.section.cjwFriends .title a{background:url(../img/layout/plus3.png) right 22.5px center no-repeat rgba(0,0,0,0.5); background-size:7.5px auto; border:1px solid rgba(255,255,255,0.5);}

/* food - foodCast */
.foodCast .foodCastBox .foodCastCon{border:1px solid #bdbdbd; border-radius:2px; height:242.5px; overflow:hidden; text-align:center; padding:1.5px 2px 0; margin:0 5px;}
.section .sectionBox.foodCastBox .sectionCon .imgSection{ height:198.5px; background:url(../img/layout/foodCastImg1.png) center top no-repeat; background-size:cover;}
.section .sectionBox.foodCastBox .sectionCon a{text-decoration:none; color:#626262; font-size:13px; display:inline-block; margin-top:12px;}

/* food - foodKnowhow */
.foodKnowhow .foodKnowhowBox .foodKnowhowCon{border:1px solid #bdbdbd; border-radius:2px; height:242.5px; overflow:hidden; text-align:center; padding:1.5px 2px 0; margin:0 5px;}
.section .sectionBox.foodKnowhowBox .sectionCon .imgSection{ height:198.5px; background:url(../img/layout/foodKnowhowImg1.png) center top no-repeat; background-size:cover;}
.section .sectionBox.foodKnowhowBox .sectionCon a{text-decoration:none; color:#626262; font-size:13px; display:inline-block; margin-top:6px; line-height:15px;}

/* food - common */
.section .sectionBox{padding:19px 32px 26px 32px; width:calc(100% - 64px);}

/* foodCastDetail*/
.foodCast .foodCastDetail{padding:0 32px 18px;}
.foodCast .foodCastDetail .foodCastDetail1{background:url(../img/layout/foodCastImg2.png) 13.5px 50% no-repeat #02b5d6; background-size:58px auto; display:block; text-decoration:none; border-radius:2px;}
.foodCast .foodCastDetail .foodCastDetail1{background:url(../img/layout/foodCastImg2.png) 13.5px 50% no-repeat #02b5d6; background-size:58px auto; display:block; text-decoration:none; border-radius:2px;}
.foodCast .foodCastDetail .foodCastDetail1>span{display:block; padding:20.625px 87px 22.25px 89px; background:url(../img/layout/arrow_right.png) right 11.5px center no-repeat; background-size:15.5px auto;}
.foodCast .foodCastDetail .foodCastDetail1 span strong{display:block; font-size:20px; line-height:27.25px; color:#000;}
.foodCast .foodCastDetail .foodCastDetail1 span span{display:block; font-size:11px; line-height:13px; color:#000;}

.foodCast .foodCastDetail .foodCastDetail2{background:url(../img/layout/foodCastImg3.png) 13.5px 50% no-repeat #76d9c5; background-size:58px auto; display:block; text-decoration:none; margin-top:10px; border-radius:2px;}
.foodCast .foodCastDetail .foodCastDetail2>span{display:block; padding:20.625px 65px 22.25px 89px; background:url(../img/layout/arrow_right.png) right 11.5px center no-repeat; background-size:15.5px auto;}
.foodCast .foodCastDetail .foodCastDetail2 span strong{display:block; font-size:20px; line-height:27.25px; color:#000;}
.foodCast .foodCastDetail .foodCastDetail2 span span{display:block; font-size:11px; line-height:13px; color:#000;}

/* foodKnowhowDetail*/
.foodKnowhow .foodKnowhowDetail{padding:0 32px 18px;}
.foodKnowhow .foodKnowhowDetail .foodKnowhowDetail1{background:url(../img/layout/foodKnowhowImg2.png) 13.5px 50% no-repeat #72dac5; background-size:58px auto; display:block; text-decoration:none; border-radius:2px;}
.foodKnowhow .foodKnowhowDetail .foodKnowhowDetail1>span{display:block; padding:20.625px 66.5px 22.25px 89px; background:url(../img/layout/arrow_right.png) right 11.5px center no-repeat; background-size:15.5px auto;}
.foodKnowhow .foodKnowhowDetail .foodKnowhowDetail1 span strong{display:block; font-size:20px; line-height:27.25px; color:#000;}
.foodKnowhow .foodKnowhowDetail .foodKnowhowDetail1 span span{display:block; font-size:11px; line-height:13px; color:#000;}

.foodKnowhow .foodKnowhowDetail .foodKnowhowDetail2{background:url(../img/layout/foodKnowhowImg3.png) 13.5px 50% no-repeat #f5cc3f; background-size:58px auto; display:block; text-decoration:none; margin-top:10px; border-radius:2px;}
.foodKnowhow .foodKnowhowDetail .foodKnowhowDetail2>span{display:block; padding:20.625px 35px 22.25px 89px; background:url(../img/layout/arrow_right.png) right 11.5px center no-repeat; background-size:15.5px auto;}
.foodKnowhow .foodKnowhowDetail .foodKnowhowDetail2 span strong{display:block; font-size:20px; line-height:27.25px; color:#000;}
.foodKnowhow .foodKnowhowDetail .foodKnowhowDetail2 span span{display:block; font-size:11px; line-height:13px; color:#000;}

/* ffCont */
.ffCont{padding:9px 32px 31.5px;}
.ffCont .box1{background:url(../img/layout/ffContImg1.png) 100% 100% no-repeat #f5cc3f; background-size:105px auto; padding:24px 89.5px 21.5px 11px; margin-top:10px;}
.ffCont .box1 strong{display:block; line-height:19.5px; font-size:18; color:#000; padding:0 0 13.5px; border-bottom:3px solid #f7d35a; word-break:keep-all;}
.ffCont .box1 span{display:block; line-height:13px; font-size:11px; padding:12px 0 19.5px;}
.ffCont .box1 a{display:inline-block; width:143px; height:33px; line-height:33px; font-size:13px; color:#000; border:2px solid #fff; border-radius:1px; background:rgba(255,255,255,0.5); text-align:center; text-decoration:none;}

.ffCont .box2{background:url(../img/layout/ffContImg2.png) 14.5px 50% no-repeat #00b5d8; background-size:70.5px auto; display:block; text-decoration:none; margin-top:10px;}
.ffCont .box2>span{background:url(../img/layout/arrow_right.png) right 10.5px center no-repeat; background-size:15.5px auto; display:block; padding:15.5px 60px 23.5px 100px; min-height:61px;}
.ffCont .box2 span strong{display:block; color:#fff; font-size:10px; line-height:18.5px; padding:0 0 3.5px;}
.ffCont .box2 span span{display:block; color:#fff; font-size:12px; line-height:13px;}

/*내가 한 것
.ffCont .box3{border:1px solid #f0f0f0; margin-top:10px; overflow:hidden;}
.ffCont .box3{display:block; border:1px solid #cfcfcf;}
.ffCont .box3 .box3_1{float:left; display:inline-block; border:1px solid #cfcfcf; text-decoration:none; background:url(../img/layout/foodEditor.png) 50% 12.5px no-repeat #fff / 61.5px auto; width:calc((100vw - 70px) / 2); height:28.5px; color:#000; font-size:12px; text-align:center; padding-top:82px;}
.ffCont .box3 .box3_2{float:left; display:inline-block; border:1px solid #cfcfcf; text-decoration:none; background:url(../img/layout/cjtalk.png) 50% 12.5px no-repeat #fff / 61.5px auto; width:calc((100vw - 70px) / 2); height:28.5px; color:#000; font-size:12px; text-align:center; padding-top:82px;}
*/

.ffCont .box3{border:1px solid #cfcfcf; margin-top:10px; overflow:hidden;}
.ffCont .box3 a{width:calc(50% - 2px); border:1px solid #cfcfcf; float:left; height:30.5px; line-height:16px; padding:79.5px 0 0; text-align:center; text-decoration:none; color:#000;}
/*line-heihgt 값은 임의로 지정 함*/
.ffCont .box3 .box3_1{background:url(../img/layout/foodEditor.png) 50% 12.5px no-repeat #fff; background-size:61.5px auto;}
.ffCont .box3 .box3_2{background:url(../img/layout/cjtalk.png) 50% 12.5px no-repeat #fff; background-size:61.5px auto;}


/* sns */
.sns{padding:28.75px 31px 33px;}
/* sns title */
.sns .title{}
.sns .title strong{display:block; font-size:33px; line-height:44px; text-align:center;}
.sns .title span{display:block; font-size:14px; line-height:26.5px; text-align:center; margin-bottom:12.75px; color:#4b4b4b; font-weight:bold;}
.sns .title .snsGroup{width:100%; height:35px; overflow:hidden;}
.sns .title .snsGroup li{width:calc(100% / 6); float:left; text-align:center; height:35px;}
.sns .title .snsGroup li img{width:35px;}

/* 내가 한 것 */
/* snsCon */
/*.sns .snsCon{width:calc(100% - 2px); height:84.8vw; border:1px solid #f8f7f7; overflow:hidden;}
.sns .snsCon dl{width:calc(50% - 2px); height:42.4vw; border:1px solid #f8f7f7; float:left; overflow:hidden;}
.sns .snsCon dl dt{margin:4.666666666666667vw 0 14.13333333333333vw 2.666666666666667vw; font-size:3.333333333333333vw; line-height:4.8vw; color:#000; font-weight:bold;}
.sns .snsCon dl:nth-of-type(2) dt{background:url(../img/layout/sns3.png) left 31.33333333333333vw center no-repeat / 4.8vw auto;}
.sns .snsCon dl:nth-of-type(3) dt{background:url(../img/layout/sns1.png) left 31.33333333333333vw center no-repeat / 4.8vw auto;}
.sns .snsCon dl dd{font-size:3.466666666666667vw; line-height:3.6vw; color:#494949;}
.sns .snsCon dl:nth-of-type(2) dd, .sns .snsCon dl:nth-of-type(3) dd{margin-left:2.666666666666667vw; width:36.13333333333333vw; height:14.8vw; overflow:hidden;}
.sns .snsCon dl dd img{width:100%;}*/

/*반응형 일때(주석 처리한 부분은 반응형 아닌 모바일 일 때 이미지는 px 값으로 고정하고, 텍스트 영역은 움직이게 해준다.)*/
.snsCon{padding:0 32px 33px;}
.snsBox{width:100%;}
.snsBox dl{border:2px solid #eee; overflow:hidden;}
.snsBox dl:first-child{border-bottom:0;}
.snsBox dl dt{width:calc(50% - 1px);}
/*.snsBox dl dt{width:152.5px;}*/
.snsBox dl dt a{display:block; line-height:0;}
/* a가 가지는 기본 영역 값을 없애는 방법: display:block; line-height:0; 두 가지 값을 주면 사라진다.*/
.snsBox dl dt img{width:100%;}
.snsBox dl dd{width:calc(50% - 1px);}
/*.snsBox dl dd{width:calc(100% - 154.5px);}*/
.snsBox dl dd .tit{padding:17.5px 10px 10.73333333333333vw; line-height:18px; font-size:12.5px; color:#000; text-decoration:none; display:block;}
/*.snsBox dl dd .tit{padding:17.5px 10px 51.5px; line-height:18px; font-size:12.5px; color:#000; text-decoration:none; display:block;}*/
.snsBox dl dd .txt{padding:0 10px; font-size:13px; line-height:14px; color:#494949; display:block; text-decoration:none; height:42px; overflow:hidden;}
/*line-height 값의 * 3배 값을 height 값으로 주고, overflow:hidden 시키면 딱 3줄만 나오게 된다.*/
.snsBox dl.sbl dt{float:left; border-right:2px solid #eee;}
.snsBox dl.sbl dd{float:right; background:url(../img/layout/sns3.png) right 5px top 17.5px no-repeat; background-size:18px auto;}
.snsBox dl.sbr dt{float:right; border-left:2px solid #eee;}
.snsBox dl.sbr dd{float:left; background:url(../img/layout/sns1.png) right 5px top 17.5px no-repeat; background-size:18px auto;}

/* footer */
#footer{background:#fbfbfb;}
/* footer - footer1 */
#footer .footer1wrap{width:100%;}
#footer .footer1wrap p{height:49px; line-height:49px; color:#00b5d8; border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; font-weight:bold; font-size:12px; text-indent:33px;}
#footer .footer1wrap ul{overflow:hidden;}
#footer .footer1wrap ul li{width:calc((100% - 1px) / 2); overflow:hidden; float:left;}
#footer .footer1wrap ul li a{display:block; height:49px; line-height:49px; text-decoration:none; color:#767676; font-weight:bold; font-size:12px; text-indent:33px;}
#footer .footer1wrap ul li:first-child a{color:#000;}
#footer .footer1wrap ul li:nth-child(odd){border-bottom:1px solid #cfcfcf; border-right:1px solid #cfcfcf;}
#footer .footer1wrap ul li:nth-child(even){border-bottom:1px solid #cfcfcf;}
#footer .footer1wrap ul li:nth-of-type(7){background:url(../img/layout/ccmLogo.png) 33px 50% no-repeat; background-size:auto 25px;}
#footer .footer1wrap ul li:nth-of-type(7) a{font-size:10px; text-indent:65px;}
#footer .footer1wrap ul li:nth-of-type(8){background:url(../img/layout/waLogo.png) 33px 50% no-repeat; background-size:auto 25px;}
#footer .footer1wrap ul li:nth-of-type(8) a{font-size:10px; text-indent:65px;}
/* footer - footer2 */
#footer .footer2wrap{width:100%; text-align:center; margin-top:28.5px;}
#footer .footer2wrap img{width:40px;}
#footer .footer2wrap address{font-size:11px; line-height:16px; color:#666; margin:22px 0 24px 0; font-style:normal;}
#footer .footer2wrap p{height:45px; line-height:45px; color:#fff; background:#666; font-size:10px;}

/* search */
.search{position:absolute; top:0; left:0; background:#fff; width:100vw;  height:75px; overflow:hidden; display:none;}

.search>p{color:#959595; font-size:17px; position:absolute; top:26.5px; left:17px;}

.search form fieldset{border:none;}
.search form fieldset input[type=text]{background-color:#eee; border:none; border-radius:3px; height:32px; width:calc(100% - 125px); margin:22px 70px 0 55px;}

/*.search form fieldset input[type=submit]{border:none; border-radius:4px; background:#777; width:45px; height:32px; position:absolute; top:21.5px; right:17px; background:url(../img/layout/searchBt.png) center center no-repeat / 15px auto;}*/

.search .searchBox{background:#777; width:45px; height:32px; line-height:32px; text-align:center; position:absolute; top:21.5px; right:17px; border-radius:4px;}
.search .searchBox img{width:15px;}

/* side */
.side{width:254px; height:100vh; background:#fff; position:fixed; top:0; right:0; display:none; z-index:1001; overflow:auto;}
.sideWrap{width:211px; margin:0 auto;}
.sideWrap li{list-style:none;}
.sideWrap a{text-decoration:none;}

.sideHeader{height:76.5px; border-bottom:2px solid #595959; position:relative;}
.sideHeader>h1{position:absolute; left:0; top:20px; display:inline;}
.sideHeader>a{color:#41c8e0; font-size:13px; text-align:right; position:absolute; right:0; top:36px;}
.sideHeader img{width: 60.5px;}

.sideHeader>a,.bigMenu>li>a,.smallMenu>li>a{font-weight:bold;}

.bigMenu>li{border-bottom:1px solid #959595;}
.bigMenu>li:last-child{border-bottom:none;}
.bigMenu>li>a{color:#595959; font-size:17px; display:block; height:58.5px; line-height:58.5px; padding-left:9.5px; position:relative;}
.bigMenu>li>a>img{width:15px; position:absolute; top:26.5px; right:5.5px;}

.smallMenu{background:#f8f8f8; display:none;}
.smallMenu>li{width:192px; height:44.5px; line-height:44.5px; text-align:left; border-bottom:1px solid #cfcfcf; margin:0 auto; color:#747474;}
.smallMenu>li:last-child{border:none;}
.smallMenu>li>a{color:#747474; font-size:14px; padding-left:11px; display:block;}

.sideFooter>ul>li{width:254px; height:57px; line-height:57px; margin-left:-21.5px; background:#02b5d6; position:relative;}
.sideFooter>ul>li:first-child{border-bottom:1px solid #fff;}
.sideFooter>ul>li a{color:#fff; padding-left:32px; display:block;}
.sideFooter>ul>li a img{width:27px; position:absolute; top:15px; right:25px;}

/* side - dimm */
.dimm{position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:1000;}


